* {
	margin: 0;
	padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.float {
    display: flex;
    float: right;  
}

header {
    width: 100%;
    color: white; 
    background-color: #BFD2E1; 
    height: auto; 
    overflow: hidden;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    box-sizing: border-box;
}

#menu {
    font-size: 1.5em;
    margin-top: 35px;
    
}
#menu nav a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.container-1{
    
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

  }

  .container-1 .icon_research{
    position: absolute;
    bottom: 23%;
    left: 80%;
    z-index: 1;
    color: gray;
  }

.container-1 input#search{
    width: 90%;
    line-height: 40px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

blockquote {
    width: 60%; 
    margin: 0 3% 4% 10%;
  
}

blockquote #citation {
    font-size: 2.2em;
    font-family: Lobster, cursive;

}

blockquote span {
    font-size: 20px;
    font-style: italic;
    font-family: Saira, sans-serif;

}

 ul{
    list-style-type: none;
    position: absolute; 
    left: 1%; 
    top: 40%; 

}
.reseau_sociaux {
   margin-bottom: 5%;
}

#icon_instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }

#icon_facebook{
  color:#3b5998;

}

#plus_infos {
    border-radius: 22px;
    padding: 1.5%; 
    font-size: 1.5em; 
    background-color: white;
    color: #7B91BC;
    text-decoration: none;
    margin-left: 20%; 
}

.carousel {
    width: 40%; 
    text-align: center;
}

footer {
    width: 100%; 
    background-color: #7B91BC;
    color: white;
    line-height: 40px;
    margin: 30px 0; 

}

footer span {   
    width: 50%;
    margin-left: 25%; 
   
}

footer a {
    width: 50%; 
    margin-left: 25%;
    text-decoration: none;
    color: white; 
  
}



/* RESPONSIVE */
@media screen and (max-width: 500px){

#logo {
    width: 15%; 
}
.float {
    display: block;
}
#menu nav a {
    display: none;
}

header {
    border-radius: 0;
}
blockquote,  .carousel {
    width: 100%; 
    margin: 0 auto 5%;
}

ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 2%;
    bottom: 20%;  
}




}